{% set title = "主页" %}
{% extends "layout.html" %}

{% block container %}
  <div class="mdui-row">
    <div class="mdui-center mdui-col-xs-12 mdui-col-sm-8" id="index-image">
      <div class="mdui-card">
        <div class="mdui-card-media">
          <img src="{{ assets('/background.png') }}"/>
          <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
              <div class="mdui-card-primary-title">y³ Online Judge</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdui-center mdui-col-xs-12 mdui-col-sm-4" id="index-about">
      <div class="mdui-card">
        <div class="mdui-card-header">
          <img class="mdui-card-header-avatar" src="{{ assets('/demo/avatar.png') }}"/>
          <div class="mdui-card-header-title">memset0 (Main Developer)</div>
          <div class="mdui-card-header-subtitle">良时不再，斯乐难常</div>
        </div>
        <div class="mdui-card-content">
          <p>一个简单、轻量化、易于部署的、为中学信息技术学科课业教学设计的 Online Judge 系统。</p>
        </div>
        <div class="mdui-card-actions">
          <a class="mdui-btn mdui-ripple" target="_blank" href="https://memset0.cn/">博客</a>
          <a class="mdui-btn mdui-ripple" target="_blank" href="https://github.com/memset0/">Github</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}