{% set title = "主页" %}
{% extends "layout.html" %}

{% block container %}
  <div class="mdui-row">
    <div class="mdui-center mdui-col-xs-12 mdui-col-sm-8 mdui-col-lg-9" id="index-image">
      <div class="mdui-card">
        <div class="mdui-card-media">
          <img src="{{ assets('/background.png') }}"/>
          <div class="mdui-card-media-covered">
            <div class="mdui-card-primary">
              <div class="mdui-card-primary-title">y³ Online Judge</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mdui-center mdui-col-xs-12 mdui-col-sm-4 mdui-col-lg-3" id="index-about">
      {% if config.index.announcement %}
        <div class="mdui-card index-card">
          <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">公告</div>
          </div>
          <div class="mdui-card-content mdui-typo index-announcement">
            {{ utils.render_markdown(config.index.announcement) | safe }}
          </div>
        </div>
      {% endif %}
      {% if config.index.useful_links %}
        <div class="mdui-card index-card">
          <div class="mdui-card-primary">
            <div class="mdui-card-primary-title">友情链接</div>
          </div>
          <div class="mdui-card-content mdui-typo index-useful-links">
            <ul>
              {% for text, href in config.index.useful_links.items() %}
                <li>
                  <a href="{{ href }}" mdui-tooltip="{content: '{{ href }}', position: 'right'}">{{ text }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}