{% set title = '' %}
{% set subtitle = '作业' %}
{% from '_macro/submission.html' import submission_status %}
{% extends "layout.html" %}

{% block container %}
  <div class="homework-container">
    <div class="mdui-card homework-card">
      <div class="mdui-card-content">
        <div class="homework-clips">
          <div class="mdui-chip">
            <span class="mdui-chip-icon">
              <i class="mdui-icon material-icons">group</i>
            </span>
            <span class="mdui-chip-title">{{ homework.usergroup.name }}</span>
          </div>
        </div>
        <div class="homework-title">{{ homework.name }}</div>
        {{ homework.description }}
      </div>
    </div>
    <div class="mdui-table-fluid homework-card homework-statistics" id="homework-statistics">
      <table class="mdui-table clickable-table">
        <thead>
          <tr>
            <th>排名</th>
            <th>用户</th>
            {% if current_user.has_manage_authority %}
              <th>真实姓名</th>
            {% endif %}
            <th>通过题数</th>
            {% for problem in homework.problem_list %}
              <th>
                <a mdui-tooltip="{content: '{{ problem.title }}', position: 'top'}" href="/problem/{{ problem.id }}">
                  {{ chr(64 + loop.index) }}
                </a>
              </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for user_index in sorted_user_index %}
            <tr>
              {% set user = homework.usergroup.user_list[user_index] %}
              <td>{{ loop.index }}</td>
              <td>{{ user.id }}</td>
              {% if current_user.has_manage_authority %}
                <td>{{ user.realname }}</td>
              {% endif %}
              <td>{{ accepted_number[user_index] }}</td>
              {% for problem in homework.problem_list %}
                <th>
                  {% set submission = statistics[user_index][loop.index - 1] %}
                  {% if submission is not none %}
                    <a href="/submission/{{ submission.id }}">
                      {{ submission_status(submission.status) }}
                    </a>
                  {% endif %}
                </th>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}