{% set title = '' %}
{% set subtitle = '作业' %}
{% from '_macro/submission.html' import submission_status %}
{% extends "layout.html" %}

{% block container %}
  <div class="homework-container">
    <div class="mdui-card homework-card">
      <div class="mdui-card-content">
        <div class="homework-clips">
          <div class="mdui-chip">
            <span class="mdui-chip-icon">
              <i class="mdui-icon material-icons">group</i>
            </span>
            <span class="mdui-chip-title">{{ homework.usergroup.name }}</span>
          </div>
        </div>
        <div class="homework-title">{{ homework.name }}</div>
        {{ homework.description }}
      </div>
    </div>

    <div class="mdui-table-fluid homework-card homework-statistics" id="homework-statistics">
      <table class="mdui-table clickable-table">
        <thead>
          <tr>
            <th>排名</th>
            <th>用户</th>
            {% if current_user.has_manage_authority %}
              <th>真实姓名</th>
            {% endif %}
            <th>分数</th>
            <th>通过题数</th>
            {% for problem in homework.problem_list %}
              <th>
                <a mdui-tooltip="{content: '{{ problem.title }}', position: 'top'}" href="/problem/{{ problem.id }}">
                  {{ chr(64 + loop.index) }}
                </a>
              </th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for statistic in statistics %}
            <tr>
              <td>{{ statistic.rank }}</td>
              <td>
                <a href="/user/{{ statistic.user.id }}">{{ statistic.user.id }}</a>
              </td>
              {% if current_user.has_manage_authority %}
                <td>{{ statistic.user.realname }}</td>
              {% endif %}
              <td>{{ round(statistic.score * 100) }}</td>
              <td>{{ statistic.accepted }}</td>
              {% for problem in homework.problem_list %}
                <th>
                  {% set submission = statistic.submission[loop.index - 1] %}
                  {% if submission is not none %}
                    <a href="/submission/{{ submission.id }}">
                      {{ submission_status(submission.status, '%d / %d' % (submission.passed_count, len(submission.details))) }}
                    </a>
                  {% endif %}
                </th>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}