{% set title = '作业列表' %}
{% extends 'layout.html' %}

{% block container %}
  <div class="mdui-row" id="homework">
    {% for homework in homeworks %}
      <div class="mdui-col-xs-12 mdui-col-sm-6 mdui-col-lg-4">
        <div class="mdui-container">
          <div class="mdui-card mdui-ripple">
            <a class="homework-item" href="/homework/{{ homework.id }}/{{ homework.usergroup.id }}">
              <div class="mdui-card-content">
                <div class="homework-item-clips">
                  <div class="mdui-chip">
                    <span class="mdui-chip-icon">
                      <i class="mdui-icon material-icons">group</i>
                    </span>
                    <span class="mdui-chip-title">{{ homework.usergroup.name }}</span>
                  </div>
                </div>
                <div class="homework-item-title">{{ homework.name }}</div>
                {{ homework.description }}
              </div>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}