{% set title = problem.title %}
{% set subtitle = '题目' %}
{% set tab_links = {
  '题目!': '/problem/' + problem.id,
  '提交': '/problem/' + problem.id + '/submit',
  '提交记录': '/problem/' + problem.id + '/submissions',
  '统计': '/problem/' + problem.id + '/statistics',
} %}
{% extends "layout.html" %}

{% block container %}
  {% for card in problem.content %}
    <div class="mdui-card y3oj-problem-content">
      <div class="mdui-card-primary">
        <div class="mdui-card-primary-title">{{ card.title }}</div>
      </div>
      <div class="mdui-card-content mdui-typo">{{ card.content | safe }}</div>
    </div>
  {% endfor %}
{% endblock %}