{% set title = problem.title %}
{% set subtitle = '题目' %}
{% set tab_links = {
  '题目!': '/problem/' + problem.id,
  '提交': '/problem/' + problem.id + '/submit',
  '提交记录': '/problem/' + problem.id + '/submission',
  '统计': '/problem/' + problem.id + '/statistics',
} %}
{% extends "layout.html" %}

{% block container %}
  <div class="mdui-col-xs-12 mdui-col-sm-9">
    {% for card in problem.statement %}
      <div class="mdui-card y3oj-problem-content">
        <div class="mdui-card-primary">
          <div class="mdui-card-primary-title">{{ card.title }}</div>
        </div>
        <div class="mdui-card-content mdui-typo">{{ card.content | safe }}</div>
      </div>
    {% endfor %}
  </div>
  <div class="mdui-col-xs-12 mdui-col-sm-3">
    <div class="mdui-card y3oj-problem-details">
      <div class="mdui-card-content">
        <div class="mdui-row-xs-2 mdui-text-center">
          <div class="mdui-col mdui-p-a-0">
            <h3 class="y3oj-minipanel-title">时间限制</h3>
            {{ str(problem.config.time_limit) + ' ms' }}
          </div>
          <div class="mdui-col mdui-p-a-0">
            <h3 class="y3oj-minipanel-title">空间限制</h3>
            {{ str(problem.config.memory_limit) + ' MiB' }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}