<div class="mdui-drawer mdui-shadow-4 drawer" id="drawer">
  {% if config.template.logo %}
    <a href="/">
      <img src="{{ assets(config.template.logo) }}" class="drawer-logo"/>
    </a>
    <div class="mdui-divider"></div>
  {% endif %}
  <div class="mdui-list" mdui-collapse="{accordion: true}" style="margin-bottom: 76px">
    <a href="/" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blue">home</i>
      <div class="mdui-list-item-content">主页</div>
    </a>
    <a href="/problem" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-deep-orange">book</i>
      <div class="mdui-list-item-content">题目</div>
    </a>
    <a href="/submission" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-teal">storage</i>
      <div class="mdui-list-item-content">提交</div>
    </a>
    {# <a href="/homework" class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-pink">assignment_turned_in</i>
          <div class="mdui-list-item-content">作业</div>
        </a> #}
    <a href="/ranklist" class="mdui-list-item mdui-ripple">
      <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-green">equalizer</i>
      <div class="mdui-list-item-content">排行</div>
    </a>
    {% if current_user.has_manage_authority %}
      <a href="/admin" class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-purple">dashboard</i>
        <div class="mdui-list-item-content">管理</div>
      </a>
    {% endif %}
    {# <a href="/docs" class="mdui-list-item mdui-ripple">
          <i class="mdui-list-item-icon mdui-icon material-icons mdui-text-color-blud-grey">style</i>
          <div class="mdui-list-item-content">文档</div>
        </a> #}
  </div>
</div>