{% set title = '用户设置' if user == current_user else user.id + ' 的用户设置' %}
{% extends "layout.html" %}

{% block container %}
  <div class="mdui-card">
    <div class="mdui-card-content">
      <form method="POST" class="y3oj-form">
        {{ form.csrf_token }}

        <div class="mdui-textfield">
          {{ form.summary.label(class='mdui-textfield-label') }}
          {{ form.summary(class='mdui-textfield-input') }}
        </div>

        <div class="mdui-textfield">
          {{ form.description.label(class='mdui-textfield-label') }}
          {{ form.description(class='mdui-textfield-input') }}
        </div>

        <div class="mdui-textfield">
          {{ form.background_image.label(class='mdui-textfield-label') }}
          {{ form.background_image(class='mdui-textfield-input') }}
        </div>

        <hr>
        <p>如果需要更改密码，请填写下面三项。</p>

        <div class="mdui-textfield">
          {{ form.old_password.label(class='mdui-textfield-label') }}
          {{ form.old_password(class='mdui-textfield-input') }}
        </div>

        <div class="mdui-textfield">
          {{ form.new_password.label(class='mdui-textfield-label') }}
          {{ form.new_password(class='mdui-textfield-input') }}
        </div>

        <div class="mdui-textfield">
          {{ form.new_password_check.label(class='mdui-textfield-label') }}
          {{ form.new_password_check(class='mdui-textfield-input') }}
        </div>

        <div class="y3oj-form-buttons">
          {{ form.submit(class='mdui-btn mdui-btn-raised mdui-color-theme-accent') }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}