{% set title = user.id %}
{% set subtitle = "用户" %}
{% extends "layout.html" %}

{% block container %}
  <script>
    window.hideProfileCover = function () {
      console.log('hideProfileCover');
      document.getElementById('cover').style.display = 'none';
      document.getElementById('cover-primary').classList.remove('mdui-card-media-covered')
    }
  </script>
  <div class="mdui-col-sm-0 mdui-col-md-1 mdui-col-lg-2"></div>
  <div class="mdui-col-sm-12 mdui-col-md-10 mdui-col-lg-8">
    <div class="mdui-card user-card">
      <div class="mdui-card-media">
        {% if user.settings.background_image %}
          <img id="cover" src="{{ user.settings.background_image or 'https://memset0.cn/background.png' }}" onerror="hideProfileCover()"/>
        {% endif %}
        <div id="cover-primary" class="{{ 'mdui-card-media-covered' if user.settings.background_image }}">
          <div class="mdui-card-primary">
            <div class="mdui-card-primary-title user-card-id">
              {{ user.id }}
            </div>
            <div class="mdui-card-primary-subtitle">
              {{ user.settings.summary }}
            </div>
          </div>
        </div>
      </div>
      <div class="mdui-card-content mdui-typo" id="profile">
        {{ utils.render_markdown(user.settings.description or '这位用户很懒，还没有填写个人简介呢。') | safe }}
      </div>
    </div>
  </div>
  <div class="mdui-col-sm-0 mdui-col-md-1 mdui-col-lg-2"></div>
{% endblock %}

{% block scripts %}
  {% if config.security.limited_profile_links %}
    <div class="mdui-dialog" id="dialog">
      <div class="mdui-dialog-title">安全警告</div>
      <div class="mdui-dialog-content">
        <p>由于安全政策限制，请手动复制下方链接到浏览器中打开。</p>
        <code id="dialog-link"></code>
      </div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" mdui-dialog-confirm>确认</button>
      </div>
    </div>
    <script>
      const $ = mdui.$;
      const inst = new mdui.Dialog('#dialog', {history: false});
      $('#profile a').each(function () {
        this.onclick = function () {
          $('#dialog-link').html(this.href);
          inst.open();
          return false; // disable this link
        }
      });
    </script>
  {% endif %}
{% endblock %}