{% extends "admin/layout.html" %}

{% block admin_container %}
  <div class="mdui-card">
    <div class="mdui-card-content">
      <div>
        <div class="mdui-shadow-2 postapi-api">
          {{ ('<span class="postapi-api-prefix">/api</span>' + api[4:]) | safe }}
        </div>
        <button class="mdui-shadow-2 mdui-btn mdui-color-theme-accent postapi-submit" id="postapi-submit">POST</button>
      </div>
      <div class="postapi-message mdui-typo mdui-m-t-2">{{ utils.render_markdown(message) | safe }}</div>
      <div id="postapi-form" class="postapi-form"></div>
      <div id="postapi-viewer" class="mdui-shadow-2 postapi-viewer"></div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
    window.postapi_data = {
      title: '{{ title }}',
      api: '{{ api }}',
      args: JSON.parse('{{ str(args).replace("'", '"') | safe }}')
    };
  </script>
  <script src="{{ assets('/js/postapi.min.js') }}"></script>
{% endblock %}