@import './global';

.mdui-drawer {
	top: 0 !important;
	background-color: white;
}

.mdui-appbar-fixed {

	@media (min-width: @screen-md-min) {
		.mdui-drawer-body-left & {
			left: 240px;
		}
	}
}

.mdui-table {
	tbody tr:last-child {

		td,
		th {
			border-bottom: none !important;
		}
	}
}