@import '../utils';
@import '../global';

#problems {
	.clickable-table();

	.y3oj-problem-table-id {
		width: 90px;

		@media (min-width: @screen-sm-min) {
			width: 120px !important;
		}
	}
}

.y3oj-problem {
	&-content {
		margin-bottom: 30px;

		.mdui-card-primary {
			padding: 16px 16px 0px 16px;

			.mdui-card-primary-title {
				font-size: 20px;
				line-height: 32px;
				font-weight: bold;
			}
		}
	}
}