@import '../global';

@drawer-width: 200px;
@drawer-logo-padding: 32px;

.drawer {
	width: @drawer-width  !important;
	max-width: none !important;

	&-logo {
		width: calc(@drawer-width - @drawer-logo-padding * 2);
		height: calc(@drawer-width - @drawer-logo-padding * 2);
		padding: @drawer-logo-padding;
	}
}

.mdui-drawer-body-left {
	@media (min-width: @screen-md-min) {
		padding-left: @drawer-width  !important;

		.mdui-appbar-fixed {
			left: @drawer-width  !important;
		}
	}
}

.mdui-drawer-body-right {
	@media (min-width: @screen-md-min) {
		padding-right: @drawer-width  !important;

		.mdui-appbar-fixed {
			right: @drawer-width  !important;
		}
	}
}