.y3oj-form {
	hr {
		border: none;
		margin: 2em 0;
		height: 0px;
		border-bottom: 1px solid rgba(0, 0, 0, .12);
		border-bottom-style: dashed;
	}

	& &-buttons {
		margin: 24px auto 0;
		width: fit-content;
	}
}

.y3oj-login-form- {
	&outter-card {
		margin: 60px auto;
		max-width: 600px;
	}
}